.stinky {
    background-color:#4A412A;
}

* {
    background-color: navy;
    color: white;
}

a {
    color:aqua;
}

#blue {
    color:aqua;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
